<!DOCTYPE html>
<html lang="en" style="background-color:#f6f6f6"> 
<head>
	<title>Welcome to Ascii Art</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css" />
</head>
<body class="body">
	<div>
		{% block content %}
		{% endblock %}
	</div>

</body>
<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.file-input.js' %}"></script>
<script src="{% static 'js/typed.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</html>