{% extends "asciiart/header.html" %}

{% block content %}
<div class="centered"> 
  <span id="welcome"></span>
  <br><br>
  <form id="fileForm" name="form" enctype="multipart/form-data" action="{% url 'asciiart:process_image' %}" method="POST" >
        {% csrf_token %}
        {{ form.image }}
        <!-- Display filename inside the button instead of its label -->
        <input type="file" data-filename-placement="inside" name="file">
        <input type="submit" class="btn-default btn" value="Upload" disabled />
        <br>
        <br>
          <a  href="https://github.com/raphaellu/img-to-ascii">View on GitHub </a><i class="fa fa-github" aria-hidden="true" style="font-size:25px;"></i>
  </form>

</div>  

{% endblock %}
