{% extends "asciiart/header.html" %}

{% block content %}
<div class="container">
	<h1>Welcome to Ascii Art!</h1>
	<form name="form" enctype = "multipart/form-data" action="{% url 'asciiart:process_image' %}" method="POST">
	    {% csrf_token %}
        {{ form.image }}
        <input type="file" />
        <input type="submit" value="Upload" />
    </form>
     {% if uploaded %}
         <strong>Your profile was saved.</strong>
      {% endif %}
      
      {% if not uploaded %}
         <strong>Your profile was not saved.</strong>
      {% endif %}
</div>	
{% endblock %}
